body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navBarDiv {
  border: 2px solid black;
  text-align: center;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.inline-block {
  display: inline-block;
}
#logInBtn {

}
.border {
  border: 1px solid black;
}
#tableStartPage {
  height: 400px;
  width: 805px;
  font-size: 20px;
  margin: 50px auto;
}
.font-size {
  font-size: 25px;
}
#contentMainPage {
  xtext-align: center;
}